{% extends 'base.html' %}

{% block content %}
<div class="w-50 p-3">
    <h2>Добавить картиночку</h2>
    <br>
    <form class_="btn btn-primary" action="{{url_for('add_image')}}" method="post" enctype="multipart/form-data">
        <div class="input-group mb-3">
            <input id="filename" name="filename" type="text" class="form-control" placeholder="image.jpg" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="submit">Upload</button>
            </div>
        <div class="custom-file">
            <input name="file" type="file" class="custom-file-input" id="inputFile">
            <label class="custom-file-label" for="inputFile">Choose file</label>
        </div>
        </div>
    </form>
    <script>
        $(document).ready(function(){
        $('input[type="file"]').change(function(e){
        var fileName = e.target.files[0].name;
        document.getElementById("filename").value = fileName
        document.getElementsByClassName("custom-file-label")[0].innerHTML = fileName;
            });
        });
    </script>
</div>


{% endblock %}
