{% extends 'base.html' %}

{% block content %}
<div class="w-50 p-3">
    <h2 class="test">Добавить&nbspкартиночку</h2>
    <br>
    <form action="{{url_for('add_image')}}" method="post" enctype="multipart/form-data">
        <div class="input-group mb-3">
            <input id="filename" name="filename" type="text" class="form-control" placeholder="example.jpg"
                   data-toggle="tooltip" data-placement="right"
                   title="You shouldn't use spaces or slashes or even cyrillic symbols, ok?">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button id="upload" class="btn btn-primary" type="submit">Upload</button>
            </div>
        <div class="custom-file">
            <input name="file" type="file" class="custom-file-input" id="inputFile">
            <label class="custom-file-label" for="inputFile">Choose file</label>
        </div>
        </div>
    </form>
    <script type="text/javascript"
         src="{{ url_for('add_image_script', filename='add_image_script.js') }}"></script>
</div>


{% endblock %}
